# Problem Statement:
The primary objective of this project is to predict the approval or rejection of credit card applications.
The challenge lies in understanding the key factors influencing credit card approval decisions and
building a predictive model to assist in the decision-making process.

In [2]:
import pandas as pd 
import numpy as np
import matplotlib as plt
import seaborn as sns

In [22]:
test_data=pd.read_csv("test_data.csv")
test_data

,ID,Gender,Has a car,Has a property,Children count,Income,Employment status,Education level,Marital status,Dwelling,Age,Employment length,Has a mobile phone,Has a work phone,Has a phone,Has an email,Job title,Family member count,Account age,Is high risk
0,5091261,F,N,Y,0,202500.0,State servant,Secondary / secondary special,Separated,House / apartment,-16834,-1692,1,0,0,0,Medicine staff,1.0,-6.0,0
1,5096963,M,Y,N,0,675000.0,Commercial associate,Higher education,Married,House / apartment,-18126,-948,1,0,1,0,Managers,2.0,-16.0,0
2,5087880,F,N,N,0,234000.0,State servant,Higher education,Civil marriage,House / apartment,-21967,-5215,1,0,0,1,Core staff,2.0,-52.0,0
3,5021949,F,Y,Y,0,445500.0,Commercial associate,Higher education,Married,House / apartment,-12477,-456,1,0,0,0,Managers,2.0,-54.0,0
4,5105705,F,Y,N,0,225000.0,Working,Secondary / secondary special,Married,Municipal apartment,-12155,-667,1,0,0,0,Laborers,2.0,-48.0,0
5,5029195,F,N,Y,0,94500.0,Working,Secondary / secondary special,Married,House / apartment,-18131,-617,1,0,0,0,Laborers,2.0,-18.0,0
6,5029213,F,N,Y,0,180000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-22115,365243,1,0,1,0,NaN,2.0,-23.0,0
7,5051050,M,Y,N,0,67500.0,Working,Secondary / secondary special,Married,House / apartment,-22407,-2174,1,0,0,0,Laborers,2.0,-9.0,0
8,5061569,F,N,N,0,189000.0,Working,Secondary / secondary special,Married,Municipal apartment,-18452,-137,1,0,0,0,Laborers,2.0,-37.0,0
9,5091430,F,N,Y,0,225000.0,Working,Higher education,Married,House / apartment,-16202,-2939,1,1,1,0,Managers,2.0,-43.0,0
10,5095937,M,N,N,0,157500.0,Working,Secondary / secondary special,Married,House / apartment,-17340,-3596,1,0,1,0,Managers,2.0,-3.0,0
11,5021779,F,N,Y,0,292500.0,Commercial associate,Higher education,Civil marriage,House / apartment,-14522,-1552,1,0,0,0,Laborers,2.0,-8.0,0
12,5052741,F,N,Y,0,54000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-24367,365243,1,0,0,0,NaN,2.0,-2.0,0
13,5139986,F,Y,Y,0,405000.0,Working,Incomplete higher,Civil marriage,House / apartment,-12458,-2076,1,1,0,0,Sales staff,2.0,-51.0,0
14,5105263,M,N,Y,0,180000.0,Working,Incomplete higher,Single / not married,House / apartment,-10305,-210,1,0,0,1,Laborers,1.0,-4.0,0
15,5091897,F,Y,Y,0,67500.0,Working,Secondary / secondary special,Married,House / apartment,-19182,-900,1,0,1,0,NaN,2.0,-7.0,0
16,5125996,F,N,Y,0,180000.0,Working,Secondary / secondary special,Married,House / apartment,-21911,-744,1,1,1,0,NaN,2.0,-54.0,0
17,5038825,M,Y,N,1,202500.0,Working,Secondary / secondary special,Married,House / apartment,-9109,-595,1,0,0,1,Laborers,3.0,-26.0,0
18,5023540,F,N,Y,0,90000.0,State servant,Secondary / secondary special,Civil marriage,House / apartment,-15945,-3673,1,1,1,0,Core staff,2.0,-32.0,0
19,5023302,F,Y,Y,1,67500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-11909,-3553,1,0,0,1,NaN,3.0,-8.0,0
20,5116954,F,N,N,0,247500.0,Pensioner,Higher education,Married,House / apartment,-18998,365243,1,0,0,0,NaN,2.0,-17.0,0
21,5115460,M,N,N,0,157500.0,Commercial associate,Higher education,Civil marriage,House / apartment,-9361,-164,1,1,0,0,Waiters/barmen staff,2.0,-6.0,0
22,5025005,M,Y,Y,0,202500.0,Working,Higher education,Married,House / apartment,-12648,-2132,1,0,0,0,NaN,2.0,-10.0,0
23,5069130,F,N,N,0,135000.0,Commercial associate,Higher education,Married,With parents,-15360,-413,1,0,0,1,Core staff,2.0,-45.0,0
24,5038812,M,Y,Y,0,180000.0,Commercial associate,Secondary / secondary special,Married,Municipal apartment,-13671,-473,1,1,1,0,Laborers,2.0,-10.0,0
25,5047735,F,N,Y,0,202500.0,Pensioner,Secondary / secondary special,Widow,House / apartment,-21824,365243,1,0,0,0,NaN,1.0,-51.0,0
26,5136991,M,N,N,0,225000.0,Working,Secondary / secondary special,Single / not married,House / apartment,-15168,-200,1,0,0,0,High skill tech staff,1.0,-38.0,0
27,5028534,F,N,Y,0,171000.0,Working,Secondary / secondary special,Married,House / apartment,-15629,-356,1,0,0,0,Sales staff,2.0,-12.0,0
28,5018414,F,N,Y,1,33300.0,Pensioner,Secondary / secondary special,Married,House / apartment,-22784,365243,1,0,0,0,NaN,3.0,-37.0,0
29,5095170,M,Y,Y,0,252000.0,Commercial associate,Higher education,Married,House / apartment,-13796,-2682,1,0,0,0,Drivers,2.0,-20.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,5065763,F,N,Y,0,90000.0,Working,Secondary / secondary special,Single / not married,House / apartment,-14746,-693,1,0,0,0,NaN,1.0,-29.0,0
7263,5113492,F,N,Y,1,135000.0,Commercial associate,Incomplete higher,Married,House / apartment,-9734,-2049,1,1,1,1,Core staff,3.0,-56.0,0
7264,5054377,F,N,N,0,157500.0,Pensioner,Secondary / secondary special,Married,House / apartment,-18523,365243,1,0,0,0,NaN,2.0,-15.0,0
7265,5116935,M,N,Y,2,112500.0,Working,Secondary / secondary special,Civil marriage,House / apartment,-14358,-2317,1,0,0,0,NaN,4.0,-14.0,0
7266,5026035,M,Y,Y,0,99000.0,Working,Secondary / secondary special,Married,Rented apartment,-9928,-1531,1,0,0,0,Managers,2.0,-14.0,0
7267,5105567,M,N,Y,0,135000.0,Pensioner,Secondary / secondary special,Civil marriage,House / apartment,-23094,365243,1,0,1,0,NaN,2.0,-27.0,0
7268,5009817,F,N,N,1,202500.0,Working,Secondary / secondary special,Married,House / apartment,-11813,-3266,1,1,1,0,Sales staff,3.0,-47.0,0
7269,5038842,F,N,Y,0,103500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-17007,-1569,1,1,1,0,Sales staff,2.0,-52.0,0
7270,5137133,M,Y,N,0,326250.0,Commercial associate,Higher education,Married,House / apartment,-11770,-108,1,1,0,0,Managers,2.0,-41.0,0
7271,5061436,F,N,Y,0,292500.0,Working,Secondary / secondary special,Single / not married,House / apartment,-13434,-3515,1,0,0,1,NaN,1.0,-32.0,0
7272,5025200,F,N,Y,0,225000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-16557,-2834,1,0,0,0,Sales staff,1.0,-1.0,0
7273,5100106,M,Y,N,0,81000.0,Working,Secondary / secondary special,Married,House / apartment,-17660,-3261,1,1,1,0,Laborers,2.0,-3.0,0
7274,5150018,M,Y,Y,1,180000.0,Working,Secondary / secondary special,Civil marriage,House / apartment,-14450,-3243,1,0,0,0,NaN,3.0,-29.0,0
7275,5048616,M,Y,Y,0,315000.0,Commercial associate,Higher education,Married,Office apartment,-13630,-4387,1,0,0,0,Core staff,2.0,-31.0,0
7276,5021303,M,N,N,1,472500.0,Pensioner,Higher education,Married,With parents,-8907,-913,1,0,0,1,NaN,3.0,-14.0,1
7277,5010947,F,Y,Y,1,270000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-13768,-2565,1,0,0,0,Managers,3.0,-30.0,0
7278,5117246,F,N,Y,2,112500.0,Working,Secondary / secondary special,Married,House / apartment,-12974,-2379,1,0,0,0,Laborers,4.0,-5.0,0
7279,5067923,F,N,Y,0,112500.0,Pensioner,Secondary / secondary special,Widow,House / apartment,-22743,365243,1,0,0,0,NaN,1.0,-30.0,0
7280,5067662,F,N,Y,0,112500.0,Commercial associate,Higher education,Married,House / apartment,-8573,-121,1,0,0,1,Accountants,2.0,-6.0,0
7281,5010980,M,Y,Y,0,225000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-18045,-1805,1,0,0,0,Drivers,1.0,-33.0,0
7282,5105673,F,N,N,1,135000.0,Working,Higher education,Married,With parents,-10263,-583,1,0,0,0,Secretaries,3.0,-38.0,0
7283,5065795,M,Y,Y,0,315000.0,Working,Secondary / secondary special,Single / not married,House / apartment,-12912,-3403,1,0,0,1,Drivers,1.0,-8.0,0
7284,5025088,M,N,N,0,135000.0,Student,Higher education,Single / not married,With parents,-9115,-581,1,0,0,1,NaN,1.0,-14.0,0
7285,5088665,M,Y,Y,0,225000.0,Commercial associate,Higher education,Single / not married,House / apartment,-9220,-1473,1,0,0,0,Core staff,1.0,-41.0,0
7286,5061507,F,N,Y,0,202500.0,Pensioner,Secondary / secondary special,Married,House / apartment,-21464,365243,1,0,0,0,NaN,2.0,-8.0,0
7287,5115415,F,Y,Y,0,135000.0,Working,Secondary / secondary special,Married,House / apartment,-21724,-1351,1,0,0,0,NaN,2.0,-22.0,0
7288,5068826,F,Y,Y,0,157500.0,Working,Higher education,Married,House / apartment,-14976,-3550,1,0,0,1,Drivers,2.0,-42.0,0
7289,5026088,F,N,Y,0,67500.0,Working,Secondary / secondary special,Widow,House / apartment,-20482,-5030,1,1,1,0,NaN,1.0,-25.0,0
7290,5142701,F,Y,N,0,95850.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-18931,-6678,1,1,0,0,Laborers,2.0,-49.0,0
7291,5022903,F,N,Y,1,135000.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-10765,-2196,1,0,0,1,NaN,3.0,-36.0,0

In [20]:
train_data=pd.read_csv("train_data.csv")
train_data

,ID,Gender,Has a car,Has a property,Children count,Income,Employment status,Education level,Marital status,Dwelling,Age,Employment length,Has a mobile phone,Has a work phone,Has a phone,Has an email,Job title,Family member count,Account age,Is high risk
0,5037048,M,Y,Y,0,135000.0,Working,Secondary / secondary special,Married,With parents,-16271,-3111,1,0,0,0,Core staff,2.0,-17.0,0
1,5044630,F,Y,N,1,135000.0,Commercial associate,Higher education,Single / not married,House / apartment,-10130,-1651,1,0,0,0,Accountants,2.0,-1.0,0
2,5079079,F,N,Y,2,180000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-12821,-5657,1,0,0,0,Laborers,4.0,-38.0,0
3,5112872,F,Y,Y,0,360000.0,Commercial associate,Higher education,Single / not married,House / apartment,-20929,-2046,1,0,0,1,Managers,1.0,-11.0,0
4,5105858,F,N,N,0,270000.0,Working,Secondary / secondary special,Separated,House / apartment,-16207,-515,1,0,1,0,NaN,1.0,-41.0,0
5,5100411,F,Y,Y,0,135000.0,Working,Secondary / secondary special,Married,House / apartment,-13251,-3839,1,1,0,0,Accountants,2.0,-1.0,0
6,5022817,M,Y,Y,0,202500.0,Working,Secondary / secondary special,Married,House / apartment,-17262,-1617,1,0,0,0,Core staff,2.0,-16.0,0
7,5009811,F,N,N,1,202500.0,Working,Secondary / secondary special,Married,House / apartment,-11813,-3266,1,1,1,0,Sales staff,3.0,-21.0,0
8,5113922,F,N,N,0,90000.0,Pensioner,Secondary / secondary special,Single / not married,Municipal apartment,-23478,365243,1,0,0,0,NaN,1.0,-50.0,0
9,5021541,F,Y,N,1,306000.0,Working,Higher education,Married,House / apartment,-9310,-1678,1,0,0,0,NaN,3.0,-13.0,0
10,5061509,F,N,Y,0,202500.0,Pensioner,Secondary / secondary special,Married,House / apartment,-21464,365243,1,0,0,0,NaN,2.0,-15.0,0
11,5028439,M,Y,Y,0,315000.0,Working,Higher education,Married,House / apartment,-15586,-3337,1,0,0,0,Managers,2.0,-6.0,0
12,5096280,F,N,N,0,360000.0,Commercial associate,Higher education,Separated,House / apartment,-18168,-3931,1,1,1,0,NaN,1.0,-13.0,0
13,5024159,F,N,Y,1,202500.0,Working,Secondary / secondary special,Married,House / apartment,-9685,-1098,1,0,0,0,Sales staff,3.0,-6.0,0
14,5091895,M,N,N,0,157500.0,Commercial associate,Higher education,Single / not married,House / apartment,-10192,-1600,1,0,0,0,Sales staff,1.0,-16.0,0
15,5009969,F,Y,Y,0,180000.0,State servant,Secondary / secondary special,Married,House / apartment,-20644,-3873,1,0,0,0,Medicine staff,2.0,-41.0,0
16,5046544,F,N,Y,1,148500.0,Working,Secondary / secondary special,Married,House / apartment,-15083,-847,1,0,0,0,High skill tech staff,3.0,-55.0,0
17,5105991,M,N,N,0,90000.0,Working,Secondary / secondary special,Married,Municipal apartment,-13334,-2829,1,1,1,0,Laborers,2.0,-15.0,0
18,5091715,F,Y,Y,1,157500.0,Working,Higher education,Married,House / apartment,-9766,-2696,1,1,0,0,Sales staff,3.0,-23.0,0
19,5053194,F,N,Y,0,315000.0,Working,Higher education,Married,House / apartment,-15527,-3792,1,1,1,0,Accountants,2.0,-44.0,0
20,5090578,F,Y,Y,0,157500.0,Working,Secondary / secondary special,Married,House / apartment,-15840,-1834,1,0,0,0,Sales staff,2.0,-17.0,0
21,5025950,F,N,Y,0,130500.0,Working,Secondary / secondary special,Married,House / apartment,-13520,-5488,1,0,0,0,Core staff,2.0,-45.0,0
22,5033969,F,N,Y,3,135000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-14445,-2240,1,0,0,0,Sales staff,5.0,-14.0,0
23,5125661,F,N,N,0,45000.0,State servant,Secondary / secondary special,Married,House / apartment,-18532,-3666,1,1,1,0,Core staff,2.0,-44.0,0
24,5029415,F,N,Y,1,315000.0,State servant,Secondary / secondary special,Civil marriage,House / apartment,-11206,-2514,1,0,0,1,Core staff,3.0,-23.0,0
25,5067899,F,N,Y,0,270000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-21511,365243,1,0,1,0,NaN,2.0,-45.0,0
26,5148911,M,Y,N,2,225000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-14636,-3850,1,0,0,0,NaN,4.0,-33.0,0
27,5089847,F,N,Y,1,225000.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-16505,-1862,1,0,1,1,Core staff,3.0,-18.0,0
28,5149881,F,Y,Y,1,391500.0,Commercial associate,Higher education,Married,House / apartment,-17423,-472,1,0,1,0,Managers,3.0,-16.0,0
29,5091761,F,N,N,0,157500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-15198,-1357,1,0,0,0,Laborers,2.0,-24.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29135,5126046,M,Y,Y,0,121500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-19258,-3605,1,1,1,0,Drivers,2.0,-22.0,0
29136,5023689,F,N,Y,0,135000.0,Working,Secondary / secondary special,Single / not married,House / apartment,-15036,-3339,1,0,0,0,NaN,1.0,-28.0,0
29137,5023254,M,N,Y,0,112500.0,Working,Secondary / secondary special,Separated,House / apartment,-20433,-2396,1,0,0,0,Drivers,1.0,-27.0,0
29138,5047887,M,Y,Y,2,225000.0,Working,Secondary / secondary special,Married,House / apartment,-13532,-3870,1,0,0,0,Laborers,4.0,-43.0,0
29139,5132713,F,N,Y,0,135000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-23351,365243,1,0,0,0,NaN,2.0,-6.0,0
29140,5010391,F,Y,Y,0,540000.0,Commercial associate,Higher education,Married,House / apartment,-13758,-2535,1,0,0,1,Managers,2.0,-46.0,0
29141,5021224,M,Y,N,0,310500.0,Working,Higher education,Single / not married,House / apartment,-9930,-674,1,0,0,0,Laborers,1.0,-26.0,0
29142,5149815,F,N,Y,0,180000.0,Working,Secondary / secondary special,Married,House / apartment,-19973,-5311,1,0,0,0,Sales staff,2.0,-50.0,0
29143,5079303,M,Y,Y,2,450000.0,Working,Secondary / secondary special,Married,House / apartment,-18089,-1410,1,0,1,0,Managers,4.0,-11.0,0
29144,5009025,F,N,Y,2,216000.0,State servant,Higher education,Married,House / apartment,-15444,-3112,1,0,0,1,NaN,4.0,-33.0,0
29145,5022241,F,N,Y,0,202500.0,Working,Secondary / secondary special,Married,House / apartment,-15231,-8375,1,0,0,1,High skill tech staff,2.0,-24.0,0
29146,5069134,F,N,N,0,135000.0,Commercial associate,Higher education,Married,With parents,-15360,-413,1,0,0,1,Core staff,2.0,-7.0,0
29147,5079008,M,Y,Y,1,225000.0,Working,Secondary / secondary special,Married,House / apartment,-14283,-1609,1,0,0,0,Managers,3.0,-24.0,0
29148,5105379,M,Y,Y,1,324000.0,Commercial associate,Secondary / secondary special,Married,Municipal apartment,-11523,-2522,1,0,1,0,Managers,3.0,-16.0,0
29149,5114165,M,N,N,0,135000.0,Working,Higher education,Single / not married,With parents,-10082,-528,1,1,1,0,NaN,1.0,-9.0,0
29150,5029357,M,Y,Y,2,360000.0,Working,Secondary / secondary special,Married,House / apartment,-13465,-839,1,0,1,0,Managers,4.0,-23.0,0
29151,5116535,M,N,Y,0,180000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-19564,365243,1,0,1,0,NaN,2.0,-42.0,0
29152,5088222,F,Y,N,0,112500.0,Working,Secondary / secondary special,Single / not married,House / apartment,-10377,-3024,1,0,0,0,Medicine staff,1.0,-10.0,0
29153,5068029,F,N,N,0,135000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-17614,-4219,1,0,0,0,Sales staff,2.0,-40.0,0
29154,5026235,F,Y,N,0,225000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-15123,-2873,1,0,1,0,Sales staff,2.0,-2.0,0
29155,5021871,F,Y,Y,1,315000.0,State servant,Higher education,Widow,House / apartment,-18233,-425,1,0,1,1,NaN,2.0,-30.0,0
29156,5009779,M,N,N,0,135000.0,Working,Secondary / secondary special,Separated,House / apartment,-14118,-3174,1,0,0,0,Laborers,1.0,-4.0,0
29157,5010913,F,Y,Y,0,81000.0,Pensioner,Higher education,Married,House / apartment,-20399,365243,1,0,0,0,NaN,2.0,-43.0,0
29158,5065502,F,Y,N,1,135000.0,Working,Higher education,Married,Municipal apartment,-12523,-2482,1,0,0,0,Managers,3.0,-13.0,0
29159,5091339,F,N,Y,0,135000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-11088,-1447,1,0,1,0,Cooking staff,2.0,-3.0,0
29160,5067139,F,N,Y,0,112500.0,Pensioner,Secondary / secondary special,Single / not married,House / apartment,-23400,365243,1,0,1,1,NaN,1.0,-5.0,0
29161,5029193,F,N,Y,1,135000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-15532,-8256,1,0,0,0,Core staff,3.0,-24.0,0
29162,5047710,F,N,Y,0,76500.0,Working,Secondary / secondary special,Married,House / apartment,-17782,-3291,1,1,1,0,Managers,2.0,-29.0,0
29163,5009886,F,N,Y,0,157500.0,Pensioner,Secondary / secondary special,Civil marriage,House / apartment,-21635,365243,1,0,1,0,NaN,2.0,-37.0,0
29164,5062632,F,N,Y,0,585000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-18858,-2010,1,0,1,0,NaN,2.0,-43.0,0

In [17]:
train_data.shape

(29165, 20)

In [18]:
test_data.shape

(7292, 20)

In [6]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29165 entries, 0 to 29164
Data columns (total 20 columns):
ID                     29165 non-null int64
Gender                 29165 non-null object
Has a car              29165 non-null object
Has a property         29165 non-null object
Children count         29165 non-null int64
Income                 29165 non-null float64
Employment status      29165 non-null object
Education level        29165 non-null object
Marital status         29165 non-null object
Dwelling               29165 non-null object
Age                    29165 non-null int64
Employment length      29165 non-null int64
Has a mobile phone     29165 non-null int64
Has a work phone       29165 non-null int64
Has a phone            29165 non-null int64
Has an email           29165 non-null int64
Job title              20138 non-null object
Family member count    29165 non-null float64
Account age            29165 non-null float64
Is high risk           29165 non-null int64
dtypes: float64(3), int64(9), object(8)
memory usage: 4.5+ MB

In [7]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7292 entries, 0 to 7291
Data columns (total 20 columns):
ID                     7292 non-null int64
Gender                 7292 non-null object
Has a car              7292 non-null object
Has a property         7292 non-null object
Children count         7292 non-null int64
Income                 7292 non-null float64
Employment status      7292 non-null object
Education level        7292 non-null object
Marital status         7292 non-null object
Dwelling               7292 non-null object
Age                    7292 non-null int64
Employment length      7292 non-null int64
Has a mobile phone     7292 non-null int64
Has a work phone       7292 non-null int64
Has a phone            7292 non-null int64
Has an email           7292 non-null int64
Job title              4996 non-null object
Family member count    7292 non-null float64
Account age            7292 non-null float64
Is high risk           7292 non-null int64
dtypes: float64(3), int64(9), object(8)
memory usage: 1.1+ MB

In [16]:
train_data.describe()

,ID,Children count,Income,Age,Employment length,Has a mobile phone,Has a work phone,Has a phone,Has an email,Family member count,Account age,Is high risk
count,2.916500e+04,29165.000000,2.916500e+04,29165.000000,29165.000000,29165.0,29165.000000,29165.000000,29165.000000,29165.000000,29165.000000,29165.000000
mean,5.078232e+06,0.430790,1.868904e+05,-15979.477490,59257.761255,1.0,0.224310,0.294977,0.090279,2.197531,-26.137734,0.017110
std,4.182400e+04,0.741882,1.014096e+05,4202.997485,137655.883458,0.0,0.417134,0.456040,0.286587,0.912189,16.486702,0.129682
min,5.008804e+06,0.000000,2.700000e+04,-25152.000000,-15713.000000,1.0,0.000000,0.000000,0.000000,1.000000,-60.000000,0.000000
25%,5.042047e+06,0.000000,1.215000e+05,-19444.000000,-3153.000000,1.0,0.000000,0.000000,0.000000,2.000000,-39.000000,0.000000
50%,5.074666e+06,0.000000,1.575000e+05,-15565.000000,-1557.000000,1.0,0.000000,0.000000,0.000000,2.000000,-24.000000,0.000000
75%,5.114629e+06,1.000000,2.250000e+05,-12475.000000,-412.000000,1.0,0.000000,1.000000,0.000000,3.000000,-12.000000,0.000000
max,5.150485e+06,19.000000,1.575000e+06,-7705.000000,365243.000000,1.0,1.000000,1.000000,1.000000,20.000000,0.000000,1.000000

In [14]:
test_data.describe()

,ID,Children count,Income,Age,Employment length,Has a mobile phone,Has a work phone,Has a phone,Has an email,Family member count,Account age,Is high risk
count,7.292000e+03,7292.000000,7.292000e+03,7292.000000,7292.000000,7292.0,7292.000000,7292.000000,7292.000000,7292.000000,7292.000000,7292.000000
mean,5.078209e+06,0.428415,1.858672e+05,-15957.958722,59283.630691,1.0,0.230389,0.294158,0.087493,2.202139,-26.270022,0.016045
std,4.208243e+04,0.744350,1.032964e+05,4190.990010,137642.577749,0.0,0.421111,0.455695,0.282576,0.909726,16.563032,0.125657
min,5.008809e+06,0.000000,2.700000e+04,-25152.000000,-15661.000000,1.0,0.000000,0.000000,0.000000,1.000000,-60.000000,0.000000
25%,5.041912e+06,0.000000,1.170000e+05,-19382.000000,-3141.000000,1.0,0.000000,0.000000,0.000000,2.000000,-39.000000,0.000000
50%,5.069416e+06,0.000000,1.575000e+05,-15522.000000,-1534.000000,1.0,0.000000,0.000000,0.000000,2.000000,-24.000000,0.000000
75%,5.115503e+06,1.000000,2.250000e+05,-12454.000000,-397.000000,1.0,0.000000,1.000000,0.000000,3.000000,-12.000000,0.000000
max,5.150487e+06,14.000000,1.575000e+06,-7489.000000,365243.000000,1.0,1.000000,1.000000,1.000000,15.000000,0.000000,1.000000

In [19]:
train_data.isnull().sum()

ID                        0
Gender                    0
Has a car                 0
Has a property            0
Children count            0
Income                    0
Employment status         0
Education level           0
Marital status            0
Dwelling                  0
Age                       0
Employment length         0
Has a mobile phone        0
Has a work phone          0
Has a phone               0
Has an email              0
Job title              9027
Family member count       0
Account age               0
Is high risk              0
dtype: int64

In [21]:
test_data.isnull().sum()

ID                        0
Gender                    0
Has a car                 0
Has a property            0
Children count            0
Income                    0
Employment status         0
Education level           0
Marital status            0
Dwelling                  0
Age                       0
Employment length         0
Has a mobile phone        0
Has a work phone          0
Has a phone               0
Has an email              0
Job title              2296
Family member count       0
Account age               0
Is high risk              0
dtype: int64